.box {
    width: 500px;
    border-radius: 50px;
    color: black;
    background-color: white;
}

.box .btn-group .btn-danger {
  background-color: red;
}

.iconImage {
    max-width: 100px;
    max-height: 100px;
}

body {
  color : white;
  background-color: #868F98; 
}